/* Celular */
@media (max-width: 1124px) {
  body {
    min-width: 20rem;
  }

  .group {
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  .bottom-dark {
    display: flex;
    z-index: 2;
  }

  .logo-dark-mode {
    z-index: 2;
  }
  .instagram-phone {
    display: none;
  }

  .instagram-continue {
    width: var(--width-100);
    max-height: 0.5rem;
  }

  .group {
    border: 1px solid transparent;
  }
}
